<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label :type1, 'Type' %>:<br />
    Looking to Buy: <%= f.radio_button :type1, '0', :checked => true %><br />
	Looking to Sell: <%= f.radio_button :type1, '1' %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    $<%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols=> 40, :rows => 6 %>
  </div>
  	<%= f.hidden_field :textbook_id, :value=> @textbook.id %>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
