<h1>Textbook Ads</h1>


<% @ads.each do |ad| %>
  <div class="ad">
	<h3><%= link_to ad.textbook.name, ad_path(ad) %>, <%= ad.textbook.edition %> ed</h3>
    
	<span class="typeprice">
		<%= if ad.type = 0 
			simple_format('Buying for <span class="price">' + ad.price.to_s + '</span>')
		elsif ad.type = 1
			simple_format('Selling for <span class="price"' + ad.price.to_s + '</span>')
		end

		%>
		</span>
	<span class="user-info"></span>

</div>
<!--
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>-->
<% end %>


<br />

