<h1>Textbook Ads</h1>


<% @ads.each do |ad| %>
  <div class="ad">
    <h3><%= link_to ad.textbook.name, ad_path(ad) %>, <%= ad.textbook.edition %> ed</h3>
	<span class="typeprice">
		<% if ad.type = 0 
			put 'Buying for <span class="price">' + ad.price + '</span>'
		else if ad.type = 1
			put 'Selling for <span class="price"' + ad.price + '</span>'
		end
			
		%>
		</span>
	<span class="user-info"><%= ad.user.name %></span>

</div>
<!--
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>-->
<% end %>


<br />

<%= link_to 'New Ad', new_ad_path %>
