<p id="notice"><%= notice %></p>

<h3>Textbook: <%= @ad.textbook.name %></h3>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<p>
  <b>Type:</b>
  <% if @ad.type1 == 0 %>
	 	Wanting to purchase
	<% elsif @ad.type1 == 1 %>
		Wanting to sell
	<%- end -%>
</p>

<p>
  <b>User:</b>
  <strong><%= @user.login %></strong>
  <%= link_to 'Message them!', :controller => 'messages', :action => 'new', :id => @user.login %>
</p>

<p>
  
</p>

<p>
  <b>Price: $</b>
  <%= @ad.price %>
</p>

<%= link_to "Bookmark", :controller=>'bookmarks', :action=>'new', :id=> @ad.id %>

<%= link_to 'Back', ads_path %>
