<p id="notice"><%= notice %></p>

<h3>Textbook: <%= @ad.textbook.name %></h3>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<p>
  <b>Type:</b>
  <% if @ad.type1 == 0 %>
	 	Wanting to purchase
	<% elsif @ad.type1 == 1 %>
		Wanting to sell
	<%- end -%>
</p>

<p>
  <b>User:</b>
  <%= link_to @user.login, user_path(@user) %>
</p>

<p>
  
</p>

<p>
  <b>Price:</b>
  <%= @ad.price %>
</p>

<%= button_to "Bookmark", :controller=>'bookmarks', :action=>'new', :id=> @ad.id %>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
