<h1>New message</h1>

<% form_for(@message) do |f| %>
  <p>
    <%= f.label "To" %><br />
    <%= text_field_tag :username, @username %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %> 
 </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>
