<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @textbook.name %>
</p>

<p>
  <b>Edition:</b>
  <%= @textbook.edition %>
</p>

<p>
  <b>Author:</b>
  <%= @textbook.author %>
</p>


<%= link_to 'Back', ads_path %>
