<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>UrTextbook</title>
    <%= stylesheet_link_tag "style" %>
</head>

<body>
    <div class="wrapper">
        <div id="navbar">
			<%= link_to image_tag("logo.png"), ads_path %>
            <ul>    
                <li><%= link_to 'Ads', ads_path %></li>
                <li><%= link_to 'Textbooks', textbooks_path %></li>
			</ul>
			<ul id="otherside">
                <li><%= render 'layouts/login' %></li>
			</ul>
			
		</div>
    
        <div class="main">
            <%= yield %>
        </div>
    
        <div id="bottombar">

            <hr>
            <ul>
                <li>&copy; 2010 Ryan Fraser and Kyle Smyth</li>
                <li>Help</li>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
            </ul>
        </div>
    </div>    
</body>
</html>
